@using Data.ViewModel;
@model IEnumerable<ReportModel>

<table class="table">
	<tr>
        <th>
            @Html.DisplayNameFor(model => model.StateName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlaceName)            
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Disadvantage2011)
            
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Disadvantage2016)
        </th>
        <th>            
            @Html.DisplayNameFor(model => model.Comparison)
        </th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
            <td>
                @Html.DisplayFor(modelItem => item.StateName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlaceName)                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disadvantage2011)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disadvantage2016)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comparison)
            </td>

		</tr>
	}

</table>

